﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DeleteUser.aspx.cs" Inherits="DeleteUser" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body >
    <form id="form1" runat="server">
        <center>
        <div>
             <table>
        <tr>
            <td>
 <asp:Label ID="Label1" runat="server" Text="Email"></asp:Label>

            </td>
            
        </tr>
         <tr>
            <td>

   <asp:TextBox ID="Em" runat="server"></asp:TextBox>

                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="Em" ErrorMessage="Email is missing" ForeColor="Red"></asp:RequiredFieldValidator>


            </td>

        </tr>
                 <tr>
            <td>
<asp:Button ID="Delete" runat="server" Text="Clear" OnClick="Delete_Click" />

            </td>
        </tr>
            </table>
        </div>
        <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click" CausesValidation="False">Homepage</asp:LinkButton>
    </center>
            </form>
</body>
</html>
