﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
    <body >
    <form id="form1" runat="server">
        <center>
    <div>

    <table>
        <tr>
            <td>
 <asp:Label ID="Label1" runat="server" Text="Email:"></asp:Label>

            </td>

        </tr>
         <tr>
            <td>
 
 <asp:TextBox ID="Em" runat="server" ></asp:TextBox>

             

            </td>

        </tr>
         <tr>
            <td>
                <asp:Label ID="Label2" runat="server" Text="Password:"></asp:Label>

            </td>

        </tr>
         <tr>
            <td>
  <asp:TextBox ID="GetPass" type="Password" runat="server"> </asp:TextBox>

               
            </td>

        </tr>
         <tr>
            <td>
<asp:Button ID="Go" runat="server" Text="Login" OnClick="Go_Click" />

            </td>


        </tr>

    </table>
    </div>
        <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click" CausesValidation="False">Homepage</asp:LinkButton>
</center>
    </form>
</body>
</html>
