﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="nopermission.aspx.cs" Inherits="nopermission" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
No Permission            <br />
            <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click" CausesValidation="False">Homepage</asp:LinkButton>
        </div>
    </form>
</body>
</html>
