﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="seller.aspx.cs" Inherits="seller" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <center>
        <h1>Seller Home Page</h1>    
        <asp:LinkButton ID="ShowItems" runat="server" OnClick="Show_Items_Click">List Items</asp:LinkButton><br /><br />
        <asp:LinkButton ID="AddItem" runat="server" OnClick="add_Click">Add Item</asp:LinkButton><br /><br />

        <asp:LinkButton ID="LinkButton1" runat="server" OnClick="Orders_Click">Show Orders</asp:LinkButton><br /><br />
        <asp:LinkButton ID="Home" runat="server" OnClick="Home_Click">HomePage</asp:LinkButton><br /><br />
        </center>
    </form>
</body>
</html>
