﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ShowBasket.aspx.cs" Inherits="ShowBasket" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
<table border="1">
        <asp:DataList ID="DataList1" runat="server"  BorderColor="black" CellPadding="5" CellSpacing="5" RepeatDirection="Vertical" RepeatLayout="Table" RepeatColumns="0">

<HeaderTemplate>
  <tr > 
            <td style="background-color: black; color:darkkhaki"> 
              
                   Item 
            </td> 
                <td style="background-color: black; color:darkkhaki"> 
               
                    Category
            </td> 
             <td style="background-color: black; color:darkkhaki"> 
               Price
                    
            </td> 
      <td style="background-color: black; color:darkkhaki"> 
               Item Code
       
            </td> 
       <td style="background-color: black; color:darkkhaki"> 
Picture                    
            </td> 
</tr>
</HeaderTemplate>
        
     
        <ItemTemplate>
       
        <tr>
        <td >
          <%# DataBinder.Eval(Container.DataItem,"ItemName") %></td>
    <td>
         <%# DataBinder.Eval(Container.DataItem,"Category") %></td>
<td>
          <%# DataBinder.Eval(Container.DataItem,"ItemPrice") %><asp:Label ID="Label2" runat="server" Text="₪"></asp:Label>

</td>
        </td>
       
        </td>
            <td>
    
          <%# DataBinder.Eval(Container.DataItem,"ItemCode") %></td>
        </td>
        <td> <span><asp:Image ID="Image1" runat="server"  Height="200" Width="200" ImageUrl=  <%# DataBinder.Eval(Container.DataItem,"ItemPic") %>></asp:Image></span>
        </td>
        </td>
        </tr>
        </tr>    
        </ItemTemplate>
        </asp:DataList></table>
            <br />  
        <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click" CausesValidation="False">Click to go to the HomePage</asp:LinkButton>&nbsp&nbsp
<asp:Button ID="Buy" runat="server" OnClick="Buy_Click" Text="Click to Purchase" />
            <br />
        <asp:DataList ID="DataList2" runat="server" DataKeyField="DProduct">
       
        </asp:DataList>
    </form>
</body>
</html>
