﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="StockUpdate.aspx.cs" Inherits="StockUpdate" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
<asp:TextBox ID="amount" runat="server"></asp:TextBox>
            <asp:Button ID="Button1" runat="server" Text="Update" OnClick="Button1_Click" CausesValidation="False"/>
        </div>
    </form>
</body>
</html>
